.keybind {
    width: 350px;
    height: 400px;
    background-color: #6e7c96;
}

html, body {
    margin: 1px;
    padding: 1px;
    background-color: grey;
}


.instruct {
    text-align: center;
    font-size: 32px;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    text-shadow: black;
    padding-top: 10px;
    text-shadow:
    -1.5px -1.5px 0 black, 
    1.5px -1.5px 0 black,  
    -1.5px 1.5px 0 black,  
    1.5px 1.5px 0 black;
}

#toggleMuteLabel {
    text-align: center;
    color: white;

}

#toggleMute {
    display: block;
    flex-direction: column;
    padding-left: 100px;
    
}